<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="atm">
      <h2>入力画面</h2>
      <input type="number" v-model="nyuryokugaku" />
      <div>入力額:{{nyuryokugaku}}円</div>
     <div>
          <button　v-on:click="nyukin">入金</button>
        </div>
        <div>
        <button　v-on:click="syukkin" v-bind:disabled="osenai">出金</button>
    </div>
     
      <div>
         <h2>口座残高</h2>
　　　　　　　<div>残高:{{zanndaka}}円</div>
      </div>
      <div>
          <h2>取引記録</h2>
          <div v-for="log in logs">
            <div>日付:{{log.date}}</div>
            <div>操作:{{log.type}}</div>
            <div>金額:{{log.money}}</div>
          </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
      const atm = new Vue({
        el: "#atm",
        data: {
          nyuryokugaku: 0,
          zanndaka:0,
          logs:[
         

            ]
        },
        methods:{
            nyukin:function(){
                this.zanndaka += Number(this.nyuryokugaku)
                this.logs.push({
                    date:new Date(),
                    type:"入金",
                    money: Number(this.nyuryokugaku)
                })
            },
            syukkin:function(){
                this.zanndaka -= Number(this.nyuryokugaku)
                this.logs.push({
                    date:new Date(),
                    type:"出金",
                    money:Number(this.nyuryokugaku)
                })
            },

            
        },
        computed:{
          osenai:function(){
          if(Number(this.zanndaka)< Number(this.nyuryokugaku)){
            return true
          }
          }
        }
      })
    </script>
    <script src="main.js"></script>
  </body>
</html>
