<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<style>
  section:not(:first-of-type) {
    margin-top: 2rem;
  }
  .container {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid #333;
  }
  .drinks {
    display: flex;
  }
  .drink:not(:first-of-type) {
    padding-left: 0.5rem;
  }
</style>
<!-- 5. 複数の飲み物を表示する -->
<section id="app6">
  <h3>複数の飲み物を表示する</h3>

  <div>
    <div v-for="drink in drinks">
      <div>{{ drink.name }}（{{drink.stock}}）</div>
      <button v-on:click="kau(drink)" v-bind:disabled="drink.stock === 0 ">
        {{ drink.price }}円
      </button>
    </div>
    <div v-for="kattaDrinkName in kattaDrinkNames">{{kattaDrinkName}}</div>
  </div>
</section>

<script>
  new Vue({
    el: "#app6",
    data: {
      drinks: [
        {
          name: "お茶",
          price: 120,
          stock: 3,
        },
        {
          name: "水",
          price: 200,
          stock: 3,
        },
      ],
      kattaDrinkNames: [],
    },
    methods: {
      kau: function(drink) {
        if (drink.stock > 0) {
          drink.stock -= 1
          this.kattaDrinkNames.push(drink.name)
        }
      },
    },
  })
</script>

<!-- 7. 見た目を整える -->
<section id="app7">
  <h3>見た目を整える</h3>

  <div class="container">
    <input type="number" v-model="nyuryokugaku" />
    <div>入力額:{{nyuryokugaku}}円</div>

    <div class="money">
      <div>財布:{{saifu}}円</div>
      <div>自販機投入金額:{{zihannki}}円</div>
      <button v-on:click="okaneIreru">投入</button>
      <button v-on:click="otsuri">おつり</button>
    </div>
    <hr />
    <div class="drinks">
      <div v-for="drink in drinks" class="drink">
        <div>{{ drink.name }}（{{drink.stock}}）</div>
        <button v-on:click="kau(drink)" v-bind:disabled="kaenai">
          {{ drink.price }}円
        </button>
      </div>
    </div>

    <hr />

    <span v-for="icon in kattaDrinkIcons">{{ icon }}</span>
  </div>
</section>

<script>
  new Vue({
    el: "#app7",
    data: {
      drinks: [
        {
          name: "お茶",
          price: 120,
          icon: "🍵",
          stock: 3,
        },
        {
          name: "水",
          price: 200,
          icon: "🚰",
          stock: 3,
        },
      ],
      kattaDrinkIcons: [],
      saifu: 1000,
      zihannki: 0,
      nyuryokugaku: 0,
    },
    methods: {
      kau: function(drink) {
        if (drink.stock > 0) {
          drink.stock -= 1
          this.kattaDrinkIcons.push(drink.icon)
          this.zihannki -= drink.price
        }
      },
      okaneIreru: function() {
        this.zihannki = Number(this.nyuryokugaku)
        this.saifu -= Number(this.nyuryokugaku)
      },
      otsuri: function() {
        this.saifu = this.zihannki + this.saifu
        this.zihannki = 0
      },
    },
    computed: {
      kaenai: function(drink) {
        if (this.zihannki < drink.price) {
          return true
        }
      },
    },
  })
</script>
